@import 'styles';

.grid {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  &:before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 1px solid $foreground-color;
    row-gap: 16px;
    column-gap: 16px;
    position: relative;
  }
}
