$foreground-color: rgb(48, 49, 60);
$foreground-alt-color: rgb(58, 59, 71);
$background-color: rgb(255, 255, 255);
$background-alt-color: rgb(226, 226, 226);

$active: rgb(51, 200, 63);
$warn: rgb(241, 23, 23);
$danger: rgb(228, 29, 29);
