@import 'styles';

.base {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  z-index: 10;

  * {
    z-index: 10;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      text-align: center;
      text-decoration: none;
      padding: 0 12px;

      :hover {
        color: red;
      }

      a {
        text-decoration: none;
        color: $foreground-alt-color;

        &:hover {
          color: darken($foreground-color, 50);
          transition: all 200ms;
        }

        &:active {
          color: lighten($foreground-color, 10);
          transition: all 200ms;
        }
      }
    }
  }

  .nav {
    height: 100%;
    display: grid;
    grid-template-areas: 'logo actions user-actions';
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 32px;
    margin: 0px 8px;

    .logo {
      grid-area: logo;
      justify-self: start;
      align-self: center;
      margin: 0;
      padding: 0;

      a {
        font-weight: 700;
        text-decoration: none;
        color: $foreground-color;
      }
    }

    .actions {
      grid-area: actions;
      justify-self: center;

      align-self: center;
      .actions-play {
        float: left;
      }

      .actions-scores {
        float: left;
      }
    }

    .user-actions {
      grid-area: user-actions;
      justify-self: end;

      align-self: center;
      .login {
        float: right;
      }

      .register {
        float: right;
      }

      .logout {
        float: right;
      }
    }

    .menu,
    .close-menu {
      grid-area: user-actions;
      justify-self: end;
      align-self: center;

      padding: 5px;

      .open-icon-base {
        display: block;
        height: 15px;
        width: 20px;
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0);

        &:before,
        &:after,
        .icon-row {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: rgba($color: $foreground-color, $alpha: 1);
        }

        &:before {
          top: 0;
          left: 0;
        }

        .icon-row {
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }

        &:after {
          bottom: 0;
          left: 0;
        }

        &:hover {
          transform: rotate(-90deg);
          height: 25px;
          width: 25px;
        }

        &:active {
          height: 18px;
        }

        transition: all 200ms;
      }

      .close-icon-base {
        display: block;
        height: 15px;
        width: 20px;
        position: relative;
        background-color: rgba($color: #000000, $alpha: 0);

        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: rgba($color: $foreground-color, $alpha: 1);
        }

        &:before {
          top: 50%;
          left: 0;
          transform: rotate(45deg);
        }

        &:after {
          top: 50%;
          left: 0;
          transform: rotate(-45deg);
        }

        &:hover {
          transform: rotate(-90deg);
          height: 25px;
          width: 25px;
        }

        &:active {
          height: 15px;
          width: 15px;
        }

        transition: all 200ms;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .base .nav {
    padding: 0;
  }
  .menu {
    display: block;
  }
  .navbar {
    ul {
      display: none;
    }
  }
}

@media only screen and (min-width: 900px) {
  .menu {
    display: none;
  }
  .navbar {
    ul {
      display: block;
    }
  }
}
