@import 'styles';

.progress-bar {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  background-color: rgba($color: $progress, $alpha: 0.2);
  background-clip: padding-box;
  overflow: hidden;

  will-change: width;

  .determinate {
    position: absolute;
    background-color: $foreground-color;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s linear;
  }

  .timed {
    position: absolute;
    background-color: $foreground-color;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .indeterminate {
    background-color: rgba($progress, 0.6);

    &:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1 cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
    }
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
